body{
background-color: plum;
color: black;
margin:0px;
}
a{
text-decoration: none;
color: black;
font-size: 20px;
}
.menu{
  width: 130px;		
  height: 30px;
  overflow: hidden;
  position: absolute;
  color: #ffffff;
}
.menu:hover {
  z-index: 2;
  overflow: show;
  height: 400px;
  width: 250px;
  background-color: #a157a1;
  color:white;
  top: 5px ;
  left: 0px;
  padding-left: 20px;
  }

  .menu a{
    color: white;
    background-color:#a157a1;
  }

    .conteudo {
      text-align: justify;
      margin-left: 3cm;
      margin-right: 2cm;
     line-height: 1.5;
    }
  
  .nav-bar{
    background-color: #a157a1 ;
    position: static;
    padding: 20px;
    box-shadow: 0 0 10px #00000033;
    display: flex;
    justify-content: left;
    align-items: center;
  
  }
  
p{
font-size: 20px;
color: black;
}

h2{
font-size: 30px;
}
h3{
font-size: 28px;
}

h4{
font-size: 25px;
}
h5{
  font-size: 22px;
}
.Icon{
font-size: 25px;
}
.conteudo{
top: 25px;
  text-align: justify;
  margin-left: 3cm;
  margin-right: 2cm;
 line-height: 1.5;
}

.nav-bar > a{
  position: relative;
  left: 400px;
  color:white;
}